@import "consts";

body {
  background: url("../img/background3.jpg") center fixed;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: $gray;
}

.navBarImg {
  position: absolute;
  left: 8px;
  top: 8px;
  max-height: 48px;
  max-width: 150px;
}

nav > div {
  max-height: 50px;
  max-width: 150px;
  background-color: $red;
  color: $white;
  -webkit-border-top-left-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -moz-border-radius-topleft: 100px;
  -moz-border-radius-bottomright: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: 15px;
  &:hover {
    background-color: darken($red, 10%)
  }
  &:active {
    background-color: lighten($red, 20%)
  }
}

