@import "consts";
@import "navBar";

table {
  margin: auto;
  margin-top: 30px;
  border: outset $white 5px;
  border-radius: 5px;
  background-color: #2eb327;
  opacity: 0.8;
}

tr, td {
  border: outset $white 3px;
  text-align: center;
  padding: 8px;
  font-size: larger;
  font-family: Calibri;
  color: $gray;
}

thead > tr > td {
  color: $red;
  font-family: "Copperplate Gothic Light";
  text-shadow: 2px 2px $white;
  font-size: 1.8em;
}