@font-face {
  font-family: Angel-Warriors;
  src: url(../fonts/Angel-Warriors.otf); }
@font-face {
  font-family: Motion-Picture;
  src: url(../fonts/motionPicture.ttf); }
@font-face {
  font-family: Angel-Warriors;
  src: url(../fonts/Angel-Warriors.otf); }
@font-face {
  font-family: Motion-Picture;
  src: url(../fonts/motionPicture.ttf); }
@media (min-width: 1201px) {
  body {
    background: url("../img/background3.jpg") no-repeat center fixed;
    background-size: 100%; } }
@media (min-width: 751px) and (max-width: 1200px) {
  body {
    background: url("../img/background3.jpg") no-repeat center fixed;
    background-size: cover; }

  #navBarImg {
    max-height: 50px; } }
@media screen and (max-width: 750px) {
  body {
    background: url("../img/background3.jpg") no-repeat center fixed;
    background-size: cover; }

  #navBarImg {
    max-height: 37.2px; } }
@media (min-width: 586.4px) {
  #navBarImg {
    max-height: 50px; } }
body {
  margin: 0; }

.nav-container {
  display: flex;
  justify-content: flex-end;
  background-color: #3d3d3d;
  flex-direction: column; }

#navBarImg {
  position: absolute;
  left: 0;
  top: 0; }

/* nav links */
.nav-bar {
  display: none;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }

.nav-menu-on {
  display: flex; }

.nav-item {
  background-color: #b01b1d;
  border-radius: 10px; }
  .nav-item > .nav-link {
    text-decoration: none;
    color: #e8e8e8;
    font-family: Angel-Warriors; }

.nav-item:last-child {
  border-bottom: 0; }

nav > button {
  border: none; }

/* nav toggle */
.nav-menu {
  text-decoration: none;
  align-self: flex-end;
  max-height: 50px;
  font-size: 1.5em;
  width: 150px;
  font-family: Angel-Warriors;
  color: #e8e8e8;
  background-color: #b01b1d;
  -webkit-border-radius: 100px 0 100px 0;
  -moz-border-radius: 100px 0 100px 0;
  border-radius: 100px 0 100px 0; }
  .nav-menu > .nav-link {
    padding: 15px;
    text-align: center; }
    .nav-menu > .nav-link > a {
      border-bottom: solid #e8e8e8 1px; }
  .nav-menu:hover {
    background-color: #841416; }
  .nav-menu:active {
    background-color: #e44d4f; }

/* media queries */
@media (min-width: 600px) {
  .nav-bar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    max-height: 50px; }

  .nav-item {
    max-height: 50px;
    max-width: 150px;
    background-color: #b01b1d;
    -webkit-border-radius: 100px 0 100px 0;
    -moz-border-radius: 100px 0 100px 0;
    border-radius: 100px 0 100px 0;
    font-family: Angel-Warriors;
    padding: 15px;
    font-size: 1.5em;
    cursor: pointer; }
    .nav-item > .nav-link {
      text-decoration: none;
      color: #e8e8e8;
      padding: 15px; }
    .nav-item:hover {
      background-color: #841416; }
    .nav-item:active {
      background-color: #e44d4f; }

  .nav-menu {
    display: none; } }
table {
  margin: auto;
  margin-top: 30px;
  border: outset #e8e8e8 5px;
  border-radius: 5px;
  background-color: #2eb327;
  opacity: 0.8; }

tr, td {
  border: outset #e8e8e8 3px;
  text-align: center;
  padding: 8px;
  font-size: larger;
  font-family: Calibri;
  color: #3d3d3d; }

thead > tr > td {
  color: #b01b1d;
  font-family: "Copperplate Gothic Light";
  text-shadow: 2px 2px #e8e8e8;
  font-size: 1.8em; }

/*# sourceMappingURL=admin.css.map */
